
@{
    
}
<div class="text-center">
   
        <h1 class="display-4">DASHBOARD</h1>
        <p>Web sitesine gitmek için <a target="_blank" href="https://educadesign.com"> bağlantıya tıklayınız.</a>.</p>
    
</div>
